th {
    border: solid black;
    width: 150px;
}
td{
    border: solid black;
}
#table-form {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    width: 100%;
}
.input-container {
    display: inline-flex;
    flex-direction: row;
    margin: 15px;
}
#location-name {
    margin-left: 15px;
}
#min-customers {
    width: 40px;
    margin-left: 15px;
}
#max-customers {
    width: 40px;
    margin-left: 15px;
}
#avg-cookies {
    width: 40px;
    margin-left: 15px;
}
#button-container {
    display: inline-flex;
    flex-direction: row;
}
